.iconsize-large {
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
}

.icon-mail-64px {
    display: inline-block;
    width: 84px;
    height: 64px;
    background-image: url(../image/icon-mail-64px.png);
    background-size: 84px 64px;
    background-repeat: no-repeat;
}

.icon-password-64px {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-image: url(../image/icon-password-64px.png);
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

/* github */
.icon-github-24px {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(https://www.github.com/favicon.ico);
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

/* gitee */
.icon-gitee-24px {
    display: inline-block;
    width: 30px;
    height: 24px;
    background-image: url(../image/icon-gitee.png);
    background-size: 30px 24px;
    background-repeat: no-repeat;
}

/* article */
.icon-article {
    display: inline-block;
    background-image: url(../image/icon-article.png);
    background-repeat: no-repeat;
}

/* data */
.icon-data {
    display: inline-block;
    background-image: url(../image/icon-data.png);
    background-repeat: no-repeat;
}

/* code */
.icon-code {
    display: inline-block;
    background-image: url(../image/icon-code.png);
    background-repeat: no-repeat;
}